<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
        <div class="booyah-box">
          <div class="row">
            <div class="col-12">
              <%= image_tag 'user.png', class: 'mx-auto d-block profile-img' %>
            </div>
          </div>
          <div class="row">

            <div class="col-12 text-center">
              <h6><strong><%= @user.email %></strong></h6>
              <h6>Member since:<br /><strong><%= @user.created_at.strftime("%B %d, %Y") %></strong></h6>
              <h6><strong><%= @user.comments.count %></strong> total comments</h6>
              <h6><strong><%= @user.comments.where(rating: '5_stars').count %></strong> total 5 star reviews</h6>
            </div>
          </div>
        </div>
    </div>
    <div class="col-12 col-md-8">
          <div class="row booyah-box">
            <h2 class="col-12">My Comments</h2>
            <br class="clear" /><br /><br />
            <% @user.comments.each do |comment| %>
              <div class="col-12 col-md-6">
                <h3><%= link_to comment.place.name, place_path(comment.place) %></h3>
                <blockquote>
                  <strong><%= comment.humanized_rating %></strong> - 
                  <%= comment.message %>
                  <small>- <%= comment.user.email %></small>
                </blockquote>
              </div>
            <% end %>
          </div>

        <div class="row booyah-box">
            <h2 class="col-12">My Places</h2>
            <br class="clear" /><br /><br />
            <% @user.places.each do |place| %>
            <div class="col-12 col-md-6">
              <h3><%= link_to place.name, place_path(place) %></h3>
              <p><em><%= place.address %></em></p>
              <p><%= place.description %></p>                
              <% if place.photos.present? %>
                <div class="row">
                  <div class="col-12">
                      <%= image_tag place.photos.last.picture, class: 'rounded' %>
                  </div>
                </div>
              <% end %>
              <br />
            </div>
          <% end %>
    </div>
  </div>
</div>