<div class="container">
  <div class="col-10 offset-1">
    <% @places.each do |place| %>
        <div class="booyah-box">
          <h2><%= place.name %></h2>
          <p><em><%= place.address %></em></p>
          <p><%= place.description %></p>

          <% if place.user.present? %>
            <small><%= place.user.email %></small>
          <% end %>
        </div>
    <% end %>
    <nav class="d-flex justify-content-center" aria-label="Page navigation">
      <%= will_paginate @places, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
    </nav>
    

    
  </div>
</div>